{%extends 'base.html'%}

{%block title%}
App|articleUpdate
{%endblock%}

{%block body%}
<div class='container mt-5'>
    <h1>Обновление статьи</h1>
    <!--т.к. мы передаём на сервер данные, то метод будет post-->
    <form method="post">
        <input type="title" name="title" placeholder="Название" value="{{article.title}}" id="title" class="form-control"><br>
        <textarea type="intro" name="intro" placeholder="Введите анонс" id="intro" class="form-control">{{article.intro}}</textarea><br>
        <textarea type="text" name="text" placeholder="Введите основной текст" id="text" class="form-control">{{article.text}}</textarea><br>
        <input type="submit" class="btn btn-success" value="Обновить">
    </form>
</div>

{%endblock%}
